{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
      {% if category %}
          {{category.description|truncatewords:155}}
      {% else %}
           Welcome to ABC store where you can buy different items...
      {% endif %}
{% endblock %}
{% block title %}
      {% if category %}
          {{category.name}}-ABC store
      {% else %}
          see our New collections-ABC store
      {% endif %}
{% endblock %}
{% block content %}
{% if category %}

    <div>
         <div class="row my_row_class">
             <div class="max_auto">
                 <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a></p>
        </div>
             </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
       <img class="mx_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
       <h1 class="text-center my_title">{{category.name}}</h1>
       <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image_ my_image_padding" src="{% static 'img/banner.png' %}" alt="our products" width="1250px;">
</div>
<br>
<div>
        <h1 class="text-center my_title">our products collections</h1>
        <p class="text-justify">A product is the item offered for sale. A product can be a service or an item. It can be physical or in virtual or cyber form. Every product is made at a cost and each is sold at a price. The price that can be charged depends on the market, the quality, the marketing and the segment that is targeted. Each product has a useful life after which it needs replacement, and a life cycle after which it has to be re-invented. In FMCG parlance, a brand can be revamped, re-launched or extended to make it more relevant to the segment and times, often keeping the product almost the same.

Description: A product needs to be relevant: the users must have an immediate use for it. A product needs to be functionally able to do what it is supposed to, and do it with a good quality.
A product needs to be communicated: Users and potential users must know why they need to use it, what benefits they can derive from it, and what it does difference it does to their lives. Advertising and 'brand building' best do this.</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                {% if product.image %}
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"> </a>
                {% endif %}
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
